services:
    backend:
        build: .
        user: "1000:1000"
        container_name: url-shortner-backend
        volumes:
            - .:/app
        env_file: .env
        command: ["npm", "run", "dev"]
        ports:
            - "3000:3000"

    database:
        image: postgres:18
        container_name: url-shortner-db
        restart: always
        environment:
            POSTGRES_USER: url-shortner_admin
            POSTGRES_PASSWORD: "12345678"
            POSTGRES_DB: url-shortner_db
        ports:
            - "5432:5432"
        volumes:
            - url-shortner_pgdata:/var/lib/postgresql

volumes:
    url-shortner_pgdata:
