services:
    backend:
        build: .
        user: "1000:1000"
        container_name: project-backend
        volumes:
            - .:/app
        env_file: .env
        command: ["npm", "run", "dev"]
        ports:
            - "3000:3000"

    database:
        image: postgres:18
        container_name: project-db
        restart: always
        environment:
            POSTGRES_USER: project_admin
            POSTGRES_PASSWORD: "12345678"
            POSTGRES_DB: project_db
        ports:
            - "5432:5432"
        volumes:
            - project_pgdata:/var/lib/postgresql

volumes:
    project_pgdata:
